# NeonDB (OLTP)
NEONDB_URL=postgresql://user:password@host/stripe_oltp

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1
S3_BUCKET=stripe-data-lake

# Confluent Cloud (Kafka)
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=

# MongoDB Atlas
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/stripe_nosql

# MLflow
MLFLOW_TRACKING_URI=postgresql://user:password@host/mlflow
MLFLOW_ARTIFACT_ROOT=s3://stripe-data-lake/mlflow

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://user:password@host/airflow