psycopg2-binary 
sqlalchemy 
python-dotenv 
pandas 
pyarrow 
boto3 
confluent-kafka 
apache-airflow 
dbt-spark 
scikit-learn 
mlflow 
streamlit 
duckdb
faker
plotly
pymongo[srv]==3.12
dnspython==2.8.0
pymongo==4.17.0
